name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

permissions:
  contents: write
  actions: read

jobs:
  lint:
    runs-on: ubuntu-latest
    permissions:
      contents: "read"
      actions: "read"
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          filter: tree:0

      - name: Use Bun.js
        uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: package.json
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: package.json

      - name: corepack enable
        shell: bash
        run: corepack enable

      - name: install dependencies
        shell: bash
        run: bun install

      - name: setup nx shas
        uses: nrwl/nx-set-shas@v4

      - run: |
          echo "BASE: ${{ env.NX_BASE }}"
          echo "HEAD: ${{ env.NX_HEAD }}"

      - name: lint
        run: bun nx affected --target lint typecheck
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-24.04
            arch: amd64
          - os: ubuntu-24.04
            arch: arm64
    permissions:
      contents: "read"
      actions: "read"
    steps:
      - name: Collect Workflow Telemetry
        uses: catchpoint/workflow-telemetry-action@v2

      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          filter: tree:0

      - name: Use Bun.js
        uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: package.json
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: package.json

      - name: Docker Setup
        uses: ./.github/actions/setup-docker

      - name: corepack enable
        shell: bash
        run: corepack enable

      - name: install dependencies
        shell: bash
        run: bun install

      - name: install dependencies
        shell: bash
        run: bun install

      - name: setup nx shas
        uses: nrwl/nx-set-shas@v4

      - name: log nx shas
        run: |
          echo "BASE: ${{ env.NX_BASE }}"
          echo "HEAD: ${{ env.NX_HEAD }}"

      - name: test
        run: bun nx affected --target test --parallel 2
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  build:
    runs-on: ubuntu-latest
    permissions:
      contents: "read"
      actions: "read"
    if: github.ref == 'refs/heads/main'
    needs:
      - lint
      - test
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          filter: tree:0

      - name: Use Bun.js
        uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: package.json
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: package.json

      - name: Docker Setup
        uses: ./.github/actions/setup-docker
        with:
          docker-username: ${{ secrets.DOCKERHUB_USERNAME }}
          docker-password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: corepack enable
        shell: bash
        run: corepack enable

      - name: install dependencies
        shell: bash
        run: bun install

      - name: setup nx shas
        uses: nrwl/nx-set-shas@v4

      - name: Build & Push Docker Image
        run: bun nx affected --target docker-push
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
